{% extends "layout.html" %}
{% block title %}Home - Restaurant System{% endblock %}
{% block content %}
<div style="font-family:monospace;">
    <h1>INVOICE</h1>
    <p>Thank you for your order! <br>E-Bill No:
        <b style="color: #007bff; font-size: 25px;">{{ order_number }}</b>
    </p>
    {{ date }}
    </p>


    <table style="border-collapse: collapse; width: 100%; text-align: left;">
        <thead>
            <tr style="border-bottom: 1px solid #ddd;">
                <th style="padding: 8px;">Item</th>
                <th style="padding: 8px;">Price</th>
                <th style="padding: 8px;">Quantity</th>
                <th style="padding: 8px;">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order_details %}
            <tr>
                <td style="padding: 8px;">{{ item.name }}</td>
                <td style="padding: 8px;">Rs {{ "%.2f"|format(item.price) }}</td>
                <td style="padding: 8px;">{{ item.quantity }}</td>
                <td style="padding: 8px;">Rs {{ "%.2f"|format(item.total) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p><strong style="color: red;">Total Price: Rs {{ "%.2f"|format(total_price) }}</strong></p>

    <br>
</div>
<a href="/" class = "btn btn-success">Back to Home</a>

{% endblock %}