<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
            text-align: left;
            margin: 0 auto;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Restaurant System{% endblock %}</title>
</head>

<body>
    <h1>Restaurant Management System</h1>
    <hr>

    <main>
        {% block content %}{% endblock %}
    </main>

    <hr>
    <footer>
        <p>&copy; 2026 Restaurant Order System. All rights reserved.</p>
    </footer>
</body>

</html>