{% extends "layout.html" %}
{% block title %}Place Order - Restaurant System{% endblock %}

{% block content %}
<center><br><br>
    <h1 style="margin-bottom: 60px; color: #7e57ad; font-size: 50px;">{% if category == 'all' %}All Categories{% else %}{{ category|capitalize }} Menu{%
        endif %}</h1>
        <hr>
    <br>
    <p style="margin-bottom: 20px; font-size: 18px;">Select the items you wish to order:</p>
    
    <h1 style="font-size: 24px; color: #B8B8B8; margin-bottom: 30px;">Food Items</h1>

    <form action="/review_order" method="POST">
        <input type="hidden" name="category" value="{{ category }}">
        <table style="border-collapse: collapse; border: none;">

            {% for item in items %}
            <tr>
                <td style="border: none; padding: 5px;">
                    <input type="checkbox" name="selected_items" value="{{ item.name }}|{{ item.price }}"
                        id="item_{{ loop.index }}">
                </td>
                <td style="border: none; padding: 5px;">
                    <label for="item_{{ loop.index }}">
                        {{ item.name }} - Rs {{ "%.2f"|format(item.price) }}
                    </label>
                </td>
                <td style="border: none; padding: 5px;">
                    <input type="number" name="quantity_{{ item.name }}" value="1" min="0" style="width: 50px;">
                </td>
            </tr>
            {% endfor %}
        </table>

        {% if beverages %}
        <br><br><br>
        <h3 style="font-size: 24px; color: #B8B8B8; margin-bottom: 30px;">Beverages</h3>
        <table style="border-collapse: collapse; border: none;">
            {% for bev in beverages %}
            <tr>
                <td style="border: none; padding: 5px;">
                    <input type="checkbox" name="selected_items" value="{{ bev.name }}|{{ bev.price }}"
                        id="bev_{{ loop.index }}">
                </td>
                <td style="border: none; padding: 5px;">
                    <label for="bev_{{ loop.index }}">
                        {{ bev.name }} - Rs {{ "%.2f"|format(bev.price) }}
                    </label>
                </td>
                <td style="border: none; padding: 5px;">
                    <input type="number" name="quantity_{{ bev.name }}" value="1" min="0" style="width: 50px;">
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <br><br>
        <button type="submit" class="btn btn-outline-success">Review Order</button>
        <a href="/place_order" class="btn btn-outline-secondary">Back to Categories</a>
    </form>

    
</center>
{% endblock %}