{% extends "layout.html" %}
{% block title %}Place Order - Restaurant System{% endblock %}

{% block content %}
    <center>
    <br><br>
    <h1 style="margin-bottom: 60px;">Select Your <b style="color: rgba(195, 140, 219, 0.37); font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 60px;">Cuisine.</b></h1>
    <p style="margin-bottom: 23px; font-size: 15px;">Please choose a food category to view our menu:</p>
    <form action="/menu" method="GET">
    
        <div class="cuisine-options">
            <button type="submit" name="category" class="btn btn-outline-secondary" value="sri_lankan">Sri Lankan</button>
            <button type="submit" name="category" class="btn btn-outline-secondary" value="italian">Italian</button>
            <button type="submit" name="category" class="btn btn-outline-secondary" value="chinese">Chinese</button>
            <button type="submit" name="category" class="btn btn-outline-secondary" value="thai">Thai</button>
            <button type="submit" name="category" class="btn btn-outline-secondary" value="all">All Categories</button>
        </div>
    </form>
    <br><br>
    <a href="/" class="btn btn-outline-success">Back to Home</a>
    </center><br><br><br>
{% endblock %}
</html>