{% extends "layout.html" %}
{% block title %}Place Order - Restaurant System{% endblock %}

{% block content %}
    <center>
    <br><br>
    <h1 style="margin-bottom: 60px;">Select Your Cuisine</h1>
    <p style="margin-bottom: 23px;">Please choose a food category to view our menu:</p>
    <form action="/menu" method="GET">
	<style>
	.cuisine-options button {
 	 padding: 12px 20px;
 	 margin: 8px;
	 border: none;
 	 border-radius: 10px;
 	 cursor: pointer;
 	 font-size: 18px;
 	 background: linear-gradient(145deg, #111, #2b2b2b);
 	 color: #d4af37;
	 }
	</style>	
        <div class="cuisine-options">
            <button type="submit" name="category" value="sri_lankan">Sri Lankan</button>
            <button type="submit" name="category" value="italian">Italian</button>
            <button type="submit" name="category" value="chinese">Chinese</button>
            <button type="submit" name="category" value="thai">Thai</button>
            <button type="submit" name="category" value="all">All Categories</button>
        </div>
    </form>
    <br><br>
    <a href="/">Back to Home</a>
    </center><br><br><br>
{% endblock %}
</html>