{% extends "layout.html" %}
{% block title %}Home - Restaurant System{% endblock %}
{% block content %}
    <center><br><br>
    <h1 style="margin-bottom: 60px;">Review Your Order</h1>
    <p style="margin-bottom: 40px;">Here is a summary of your selected items:</p>

    <table style="border-collapse: collapse; width: 100%; text-align: left; font-size: 16px; color: #7a7a7a;">
        <thead>
            <tr style="border-bottom: 1px solid #ddd;">
                <th style="padding: 8px;">Item</th>
                <th style="padding: 8px;">Price</th>
                <th style="padding: 8px;">Quantity</th>
                <th style="padding: 8px;">Total</th>
            </tr>
        </thead>
        <tbody>
        {% for item in selected_items %}
        <tr>
            <td style="padding: 8px;">{{ item.name }}</td>
            <td style="padding: 8px;">Rs {{ "%.2f"|format(item.price) }}</td>
            <td style="padding: 8px;">{{ item.quantity }}</td>
            <td style="padding: 8px;">Rs {{ "%.2f"|format(item.total) }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <p style="color: #8c6a1f; font-size: 24px;"><strong>Total Price: Rs {{ "%.2f"|format(total_price) }}</strong></p>

    <br>
    
    <form action="/ebill" method="POST" style="display: inline; 
        {% for item in selected_items %}
            <input type="hidden" name="items" value="{{ item.name }}|{{ item.price }}|{{ item.quantity }}">
        {% endfor %}
	<style>
	 .order button {
 	 padding: 12px 20px;
 	 margin: 8px;
	 border: none;
 	 border-radius: 10px;
 	 cursor: pointer;
 	 font-size: 18px;
 	 background: linear-gradient(145deg, #111, #2b2b2b);
 	 color: #d4af37;
	 }
	</style>	

	<div class="order">
        <button type="submit">Confirm Order</button>
    </form>
    
    <form action="/place_order" method="get">
        <button type="submit">Modify Order</button>
    </form>
    </div>
    </center><br><br><br>
{% endblock %}